.primary {
    background-color: var(--mon-primary-color);
}

.secondary {
    background-color: var(--mon-secondary-color);
}

.light-grey {
    background-color: var(--mon-light-grey-color);

}

.mon-step-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--mon-sections);
    cursor: pointer;
}

.mon-step-icon-container-light-grey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--mon-sections);
}

.mon-step-icon-img {
    border-radius: 50%;
    width: var(--mon-step-icon);
    transition: all .2s ease-in-out;
}

.mon-step-icon-container:hover .mon-step-icon-img {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
    animation: pulsate-fwd 0.5s ease-in-out both;
    transition: all .2s ease-in-out;
}

.mon-step-icon-container:hover .mon-step-icon-img {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
    animation: pulsate-fwd 0.5s ease-in-out both;
}

.mon-step-icon-container:hover .mon-step-icon-img img {
    -webkit-animation: pulsate-rev 0.5s ease-in-out both;
    animation: pulsate-rev 0.5s ease-in-out both;
}

.mon-step-icon-img img {
    width: var(--mon-step-icon);
}

.mon-step-icon-img img {
    padding: 15px;
}

.mon-step-icon-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 25px;
    min-height: 100px;
    text-align: center;
}

.mon-step-icon-container:hover .mon-step-icon-title {
    -webkit-animation: text-pop-up-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.mon-step-icon-line.secondary,
.mon-step-icon-line.light-grey {
    width: 106.5%;
    margin-top: 50px;
    height: 2px;
    margin-left: 100%;
    background-color: unset;
}

.mon-step-icon-line.primary {
    width: 106.5%;
    margin-top: 50px;
    height: 2px;
    margin-left: 100%;
    background-color: unset;
    border-bottom: 2px dotted var(--mon-light-secondary);
}

.mon-step-icon-number {
    font-size: 31px;
    font-family: 'Montserrat';
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -27px;
    -webkit-animation: pulsate-rev 0.2s ease-in-out both;
    animation: pulsate-rev 0.2s ease-in-out both;

}

.mon-step-icon-container:hover .mon-step-icon-number {
    -webkit-animation: pulsate 0.2s ease-in-out both;
    animation: pulsate 0.2s ease-in-out both;
    animation-delay: .1s;
}

.mon-step-icon-text {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: var(--mon-darkgrey-color);
}


/* Animation */

.pulsate-fwd-anim {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
    animation: pulsate-fwd 0.5s ease-in-out both;
}

.text-pop-up-top-anim {
    -webkit-animation: text-pop-up-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bck-center-anim {
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shake-horizontal-anim {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-12 3:3:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pulsate-rev {
    0% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

@keyframes pulsate-rev {
    0% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.14);
        transform: scale(1.14);
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2021-11-12 19:10:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-1px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 20px 30px rgb(0 0 0 / 10%);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-1px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 20px 30px rgb(0 0 0 / 10%);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-12 19:44:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        transform: translateY(0);
        opacity: .5;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transform: translateY(2px);
        opacity: 1;
    }
}

@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        transform: translateY(0);
        opacity: .5;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transform: translateY(2px);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-13 15:58:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    90% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    90% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}