.footer {
    padding-top: 100px;
}

.nos-gusta-text {
    color: white;
    margin-top: -10px;
    margin-left: 10px;
}

.std-footer-container {
    width: 100%;
    min-height: 146px;
    background-color: var(--mon-footer-color);
}

.std-footer-content {
    max-width: 1440px;
    margin: auto;
    padding: 31px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.std-footer-content-logo-info {
    display: flex;
    align-items: center;
}

.std-footer-content-info {
    color: white;
    margin-left: 60px;
}

.std-footer-info-subtitle {
    color: rgb(156, 156, 156);
}

.std-footer-content-social-privacity {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.std-footer-content-social-privacity img {
    width: 70%;
    margin-bottom: 20px;
}

p.std-footer-content-privacity {
    color: white;
}

.std-footer-content-privacity-separator {
    color: var(--mon-secondary-color);
    padding: 0 5px;
}

.std-footer-content-logo img {
    width: 200px;
}

/* 
********************************
MEDIA QUERY MOBILE 480px
********************************
*/

@media only screen and (max-width: 485px) {
    .std-footer-content {
        flex-direction: column;
        padding: 20px 10px;
    }

    .std-footer-content-social-privacity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 35px;
    }

    p.std-footer-content-privacity {
        text-align: center;
        font-size: 2.8vw;
    }

    .std-footer-content-info {
        color: white;
        margin-left: 20px;
        font-size: 12px;
    }

    .nos-gusta-text[c-footerStylesMon_footerStylesMon] {
        font-size: 10px;
    }

    .std-footer-content-logo-info[c-footerStylesMon_footerStylesMon] {
        align-items: flex-start;
    }

    .std-footer-content-logo {
        margin-top: -8px;
    }
}
