.process-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ins-title-h3 {
    font-size: 40px;
    color: var(--mon-secondary-color);
}

.mon-title-icon {
    /* background-color: var(--mon-primary-color); */
    height: 52px;
    width: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.mon-title-icon img {
    height: 50px;
}