/* Opportinuty */

.comm-page-detail-006 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: #254c74b8 !important;
    position: relative;
    border-radius: 20px !important;
    /* margin-top: -103px; */
    z-index: 100;
    transition: height 0s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: 0px;
    height: 212px !important;
}

.comm-page-detail-006 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 103px !important;
    /* transition: height 0s ease-in-out; */
    margin-top: 23px;
}

.comm-page-detail-006 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: visible;
}

.comm-page-detail-006 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: -103px;
    /* transition: all 0s ease-in-out; */
}

.comm-page-detail-006 .recordHomePrimaryContent ul.tabs__nav {
    position: unset;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    margin-top: 20px;
    z-index: unset;
    height: unset;
    padding-left: unset;
    box-shadow: unset;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #d4d4d4);
}

.comm-page-detail-006 .recordHomePrimaryContent a.tabHeader {
    padding-top: unset;
}

.comm-page-detail-006 .recordHomeSecondaryContent {
    margin-top: 49px;
    transition: all 0.2s ease-out;
}

/* Campaigns */

.comm-page-detail-701 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: #254c74b8 !important;
    position: relative;
    border-radius: 20px !important;
    /* margin-top: -103px; */
    z-index: 100;
    transition: height 0s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: 0px;
    height: 212px !important;
}

.comm-page-detail-701 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 103px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: 23px;
}

.comm-page-detail-701 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: visible;
}

.comm-page-detail-701 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: -103px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-701 .recordHomePrimaryContent ul.tabs__nav {
    position: unset;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    margin-top: 20px;
    z-index: unset;
    height: unset;
    padding-left: unset;
    box-shadow: unset;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #d4d4d4);
}

.comm-page-detail-701 .recordHomePrimaryContent a.tabHeader {
    padding-top: unset;
}

.comm-page-detail-701 .recordHomeSecondaryContent {
    margin-top: 49px;
}

/* Tasks */

.comm-page-detail-00T .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: #254c74b8 !important;
    position: relative;
    border-radius: 20px !important;
    /* margin-top: -103px; */
    z-index: 100;
    transition: height 0s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: 0px;
    height: 212px !important;
}

.comm-page-detail-00T ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 103px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: 23px;
}

.comm-page-detail-00T ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: visible;
}

.comm-page-detail-00T .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: -103px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-00T .recordHomePrimaryContent ul.tabs__nav {
    position: unset;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    margin-top: 20px;
    z-index: unset;
    height: unset;
    padding-left: unset;
    box-shadow: unset;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #d4d4d4);
}

.comm-page-detail-00T .recordHomePrimaryContent a.tabHeader {
    padding-top: unset;
}

.comm-page-detail-00T .recordHomeSecondaryContent {
    margin-top: 49px;
}

/* Product */

.comm-page-detail-01t .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: #254c74b8 !important;
    position: relative;
    border-radius: 20px !important;
    /* margin-top: -103px; */
    z-index: 100;
    transition: height 0s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: 0px;
    height: 212px !important;
}

.comm-page-detail-01t ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 103px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: 23px;
}

.comm-page-detail-01t ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: visible;
}

.comm-page-detail-01t .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: -103px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-01t .recordHomePrimaryContent ul.tabs__nav {
    position: unset;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    margin-top: 20px;
    z-index: unset;
    height: unset;
    padding-left: unset;
    box-shadow: unset;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #d4d4d4);
}

.comm-page-detail-01t .recordHomePrimaryContent a.tabHeader {
    padding-top: unset;
}

.comm-page-detail-01t .recordHomeSecondaryContent {
    margin-top: 49px;
}

/* Accounts */

.comm-page-detail-001 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: #254c74b8 !important;
    position: relative;
    border-radius: 20px !important;
    /* margin-top: -103px; */
    z-index: 100;
    transition: height 0s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: 0px;
    height: 212px !important;
    box-shadow: unset;
}

.comm-page-detail-001 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 103px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: 23px;
}

.comm-page-detail-001 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: visible;
}

.comm-page-detail-001 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: -103px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-001 .recordHomePrimaryContent ul.tabs__nav {
    position: unset;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    margin-top: 20px;
    z-index: unset;
    height: unset;
    padding-left: unset;
    box-shadow: unset;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #d4d4d4);
}

.comm-page-detail-001 .recordHomePrimaryContent a.tabHeader {
    padding-top: unset;
}

/* Cases */

.comm-page-detail-500 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: #254c74b8 !important;
    position: relative;
    border-radius: 20px !important;
    /* margin-top: -103px; */
    z-index: 100;
    transition: height 0s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: 0px;
    height: 212px !important;
    box-shadow: unset;
}

.comm-page-detail-500 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 103px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: 23px;
}

.comm-page-detail-500 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: visible;
}

.comm-page-detail-500 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: -103px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-500 .recordHomePrimaryContent ul.tabs__nav {
    position: unset;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    margin-top: 20px;
    z-index: unset;
    height: unset;
    padding-left: unset;
    box-shadow: unset;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #d4d4d4);
}

.comm-page-detail-500 .recordHomePrimaryContent a.tabHeader {
    padding-top: unset;
}

/* Contacts */

.comm-page-detail-003 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: #254c74b8 !important;
    position: relative;
    border-radius: 20px !important;
    /* margin-top: -103px; */
    z-index: 100;
    transition: height 0s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: 0px;
    height: 212px !important;
    box-shadow: unset;
}

.comm-page-detail-003 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 103px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: 23px;
}

.comm-page-detail-003 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: visible;
}

.comm-page-detail-003 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: -103px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-003 .recordHomePrimaryContent ul.tabs__nav {
    position: unset;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    margin-top: 20px;
    z-index: unset;
    height: unset;
    padding-left: unset;
    box-shadow: unset;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #d4d4d4);
}

.comm-page-detail-003 .recordHomePrimaryContent a.tabHeader {
    padding-top: unset;
}

/* Event */

.comm-page-detail-00U .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: #254c74b8 !important;
    position: relative;
    border-radius: 20px !important;
    /* margin-top: -103px; */
    z-index: 100;
    transition: height 0s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: 0px;
    height: 212px !important;
    box-shadow: unset;
}

.comm-page-detail-00U ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 103px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: 23px;
}

.comm-page-detail-00U ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: visible;
}

.comm-page-detail-00U .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: -103px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-00U .recordHomePrimaryContent ul.tabs__nav {
    position: unset;
    top: unset;
    left: unset;
    background: unset;
    width: unset;
    margin-top: 20px;
    z-index: unset;
    height: unset;
    padding-left: unset;
    box-shadow: unset;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, #d4d4d4);
}

.comm-page-detail-00U .recordHomePrimaryContent a.tabHeader {
    padding-top: unset;
}
