/* Opportinuty */

.comm-page-detail-006 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: var(--mon-footer-color) !important;
    position: fixed;
    /* margin-top: -50px !important; */
    border-radius: 0px !important;
    margin: 0 -14px;
    z-index: 100;
    transition: height 0.2s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: -1px;
    height: 105px !important;
}
.comm-page-detail-006 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 0px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: -90px;
}

.comm-page-detail-006 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: hidden;
}

.comm-page-detail-006 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: 180px;
    /* transition: all 0.5s ease-in-out; */
}

.comm-page-detail-006 .recordHomePrimaryContent ul.tabs__nav {
    position: fixed;
    top: 104px;
    left: 0;
    background: #eff4fa;
    width: 100%;
    margin-top: -3px;
    z-index: 90;
    height: 46px;
    padding-left: 30px;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
    border-bottom: 1px solid #18638e;
}

.comm-page-detail-006 .recordHomePrimaryContent a.tabHeader {
    padding-top: 16px;
}

.comm-page-detail-006 .recordHomeSecondaryContent {
    margin-top: 29px;
    transition: all 0.2s ease-out;
}

/* Campaigns */

.comm-page-detail-701 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: var(--mon-footer-color) !important;
    position: fixed;
    /* margin-top: -50px !important; */
    border-radius: 0px !important;
    margin: 0 -14px;
    z-index: 100;
    transition: height 0.2s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: -1px;
    height: 105px !important;
}
.comm-page-detail-701 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 0px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: -90px;
}

.comm-page-detail-701 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: hidden;
}

.comm-page-detail-701 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: 180px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-701 .recordHomePrimaryContent ul.tabs__nav {
    position: fixed;
    top: 104px;
    left: 0;
    background: #eff4fa;
    width: 100%;
    margin-top: -3px;
    z-index: 90;
    height: 46px;
    padding-left: 30px;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
    border-bottom: 1px solid #18638e;
}

.comm-page-detail-701 .recordHomePrimaryContent a.tabHeader {
    padding-top: 16px;
}

.comm-page-detail-701 .recordHomeSecondaryContent {
    margin-top: 29px;
}

/* Tasks */

.comm-page-detail-00T .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: var(--mon-footer-color) !important;
    position: fixed;
    /* margin-top: -50px !important; */
    border-radius: 0px !important;
    margin: 0 -14px;
    z-index: 100;
    transition: height 0.2s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: -1px;
    height: 105px !important;
}
.comm-page-detail-00T ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 0px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: -90px;
}

.comm-page-detail-00T ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: hidden;
}

.comm-page-detail-00T .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: 180px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-00T .recordHomePrimaryContent ul.tabs__nav {
    position: fixed;
    top: 104px;
    left: 0;
    background: #eff4fa;
    width: 100%;
    margin-top: -3px;
    z-index: 90;
    height: 46px;
    padding-left: 30px;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
    border-bottom: 1px solid #18638e;
}

.comm-page-detail-00T .recordHomePrimaryContent a.tabHeader {
    padding-top: 16px;
}

.comm-page-detail-00T .recordHomeSecondaryContent {
    margin-top: 29px;
}

/* Product */

.comm-page-detail-01t .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: var(--mon-footer-color) !important;
    position: fixed;
    /* margin-top: -50px !important; */
    border-radius: 0px !important;
    margin: 0 -14px;
    z-index: 100;
    transition: height 0.2s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: -1px;
    height: 105px !important;
}
.comm-page-detail-01t ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 0px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: -90px;
}

.comm-page-detail-01t ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: hidden;
}

.comm-page-detail-01t .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: 180px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-01t .recordHomePrimaryContent ul.tabs__nav {
    position: fixed;
    top: 104px;
    left: 0;
    background: #eff4fa;
    width: 100%;
    margin-top: -3px;
    z-index: 90;
    height: 46px;
    padding-left: 30px;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
    border-bottom: 1px solid #18638e;
}

.comm-page-detail-01t .recordHomePrimaryContent a.tabHeader {
    padding-top: 16px;
}

.comm-page-detail-01t .recordHomeSecondaryContent {
    margin-top: 29px;
}

/* Accounts */

.comm-page-detail-001 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: var(--mon-footer-color) !important;
    position: fixed;
    /* margin-top: -50px !important; */
    border-radius: 0px !important;
    margin: 0 -14px;
    z-index: 100;
    transition: height 0.2s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: -1px;
    height: 105px !important;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
}
.comm-page-detail-001 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 0px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: -90px;
}

.comm-page-detail-001 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: hidden;
}

.comm-page-detail-001 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: 137px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-001 .recordHomePrimaryContent ul.tabs__nav {
    position: fixed;
    top: 104px;
    left: 0;
    background: #eff4fa;
    width: 100%;
    margin-top: -3px;
    z-index: 90;
    height: 46px;
    padding-left: 30px;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
    border-bottom: 1px solid #18638e;
}

.comm-page-detail-001 .recordHomePrimaryContent a.tabHeader {
    padding-top: 16px;
}

.comm-page-detail-001 .recordHomeSecondaryContent {
    margin-top: 29px;
}

/* Cases */

.comm-page-detail-500 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: var(--mon-footer-color) !important;
    position: fixed;
    /* margin-top: -50px !important; */
    border-radius: 0px !important;
    margin: 0 -14px;
    z-index: 100;
    transition: height 0.2s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: -1px;
    height: 105px !important;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
}
.comm-page-detail-500 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 0px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: -90px;
}

.comm-page-detail-500 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: hidden;
}

.comm-page-detail-500 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: 137px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-500 .recordHomePrimaryContent ul.tabs__nav {
    position: fixed;
    top: 104px;
    left: 0;
    background: #eff4fa;
    width: 100%;
    margin-top: -3px;
    z-index: 90;
    height: 46px;
    padding-left: 30px;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
    border-bottom: 1px solid #18638e;
}

.comm-page-detail-500 .recordHomePrimaryContent a.tabHeader {
    padding-top: 16px;
}

.comm-page-detail-500 .recordHomeSecondaryContent {
    margin-top: 29px;
}

/* Contacts */

.comm-page-detail-003 .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: var(--mon-footer-color) !important;
    position: fixed;
    /* margin-top: -50px !important; */
    border-radius: 0px !important;
    margin: 0 -14px;
    z-index: 100;
    transition: height 0.2s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: -1px;
    height: 105px !important;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
}
.comm-page-detail-003 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 0px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: -90px;
}

.comm-page-detail-003 ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: hidden;
}

.comm-page-detail-003 .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: 137px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-003 .recordHomePrimaryContent ul.tabs__nav {
    position: fixed;
    top: 104px;
    left: 0;
    background: #eff4fa;
    width: 100%;
    margin-top: -3px;
    z-index: 90;
    height: 46px;
    padding-left: 30px;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
    border-bottom: 1px solid #18638e;
}

.comm-page-detail-003 .recordHomePrimaryContent a.tabHeader {
    padding-top: 16px;
}

.comm-page-detail-003 .recordHomeSecondaryContent {
    margin-top: 29px;
}

/* Event */

.comm-page-detail-00U .slds-page-header.slds-page-header_record-home.forceHighlightsStencilDesktop.forceRecordLayout {
    background: var(--mon-footer-color) !important;
    position: fixed;
    /* margin-top: -50px !important; */
    border-radius: 0px !important;
    margin: 0 -14px;
    z-index: 100;
    transition: height 0.2s ease-in-out;
    /* transition: height 0.5s ease-in-out; */
    top: -1px;
    height: 105px !important;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
}
.comm-page-detail-00U ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row {
    height: 0px !important;
    /* transition: height 0.2s ease-in-out; */
    margin-top: -90px;
}

.comm-page-detail-00U ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row li {
    visibility: hidden;
}

.comm-page-detail-00U .siteforceSldsOneColLayout.siteforceContentArea {
    margin-top: 137px;
    /* transition: all 0.2s ease-in-out; */
}

.comm-page-detail-00U .recordHomePrimaryContent ul.tabs__nav {
    position: fixed;
    top: 104px;
    left: 0;
    background: #eff4fa;
    width: 100%;
    margin-top: -3px;
    z-index: 90;
    height: 46px;
    padding-left: 30px;
    box-shadow: 0px 1px 41px 4px rgb(56 105 165 / 40%);
    border-bottom: 1px solid #18638e;
}

.comm-page-detail-00U .recordHomePrimaryContent a.tabHeader {
    padding-top: 16px;
}

.comm-page-detail-00U .recordHomeSecondaryContent {
    margin-top: 29px;
}
