/* 
********************************
Navbar 
********************************
*/

.logoImage {
    width: 210px !important;
    height: 80px !important;
    margin-top: -8px;
}

.forceCommunityThemeNav.navMenuType-expanded .mainNavItem .linkBtn.comm-navigation__top-level-item-link--active {
    border-bottom: 2px dotted white;
}

li.mainNavItem.comm-navigation__top-level-item.comm-navigation__menu-item {
    padding-left: var(--navbar-items-space);
    font-size: var(--navbar-items-font-size);
    font-weight: var(--navbar-items-font-weight);
}

.forceCommunityThemeHeaderCompact .themeNav {
    margin-left: var(--navbar-margin-left);
}

/* Profile Menu */

span.slds-avatar.slds-avatar_circle.slds-avatar_x-small.slds-m-top_xxx-small {
    height: 35px;
    width: 35px;
}
