:root {
    /* Colors */

    --mon-primary-color: #2a8b9b;
    --mon-light-primary: #2a8b9b7a;
    --mon-secondary-color: #12b9d4;
    --mon-light-secondary: #07d7f9;
    --mon-light-grey-color: #cfcfd0;
    --mon-darkgrey-color: #666666;
    --mon-soft-black: #222428;
    --mon-validate-color: #10dc60;
    --mon-pending-color: #f39800;
    --mon-reject-color: #be053d;
    --mon-footer-color: rgb(0 99 142);
    --content-inscripcion-text: #2a8b9b99;

    /* Margin & Padding */

    --mon-sections: 60px;
    --mon-title-to-content: 25px;
    --mon-content-to-title: 15px;
    --mon-section-to-footer: 150px;
    --mon-section-left: 105px;
    --mon-home-left: 77px;

    /* Fonts */

    --mon-select-list: 16px;
    --mon-text-simple: 20px;
    --mon-title-h3: 30px;

    /* Icons */

    --mon-title-icon: 35px;
    --mon-step-icon: 180px;
}
